
@{
    ViewBag.Title = "Show";
}


<div class="panel panel-default">
    <div class="panel-heading">Afiseaza categorie</div>
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading " style="padding:10px">
                <p>@ViewBag.Categories.CategoryName</p>
            </div>

            <div class="panel-body " style="padding:10px">
                <form method="get" action="/Category/Edit/@ViewBag.Categories.CategoryId">
                    <button class="btn btn-sm btn-success" type="submit">Editeaza categorie</button>
                </form>

                <br />

                <form method="post" action="/Category/Delete/@ViewBag.Categories.CategoryId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="btn btn-sm btn-success" type="submit">Sterge categorie</button>
                </form>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="/Category/Index">Inapoi la Index</a>
    </div>
</div>
